body {
  background-color:cadetblue;
}

.dashed {
  color: brown;
  text-align: center;
  border-style: dashed;
  border-color: blueviolet;
}
.line2 {
  color: blueviolet;
  border-style: dotted;
  text-align: center;
  font-size: x-large;
}
.line3 {
  color: blue;
  border-style: dotted;
  text-align: center;
  font-size: x-large;
}
.line4 {
  color: aqua;
  text-align: center;
  border-style: double;
  font-size: x-large;
}
.line5 {
  color:black;
  text-align: center;
  border-style: groove;
 outline-style:outset ;
  font-size: x-large;
  
}
