body {
  background-color: cadetblue;
}

.dashed {
  color: brown;
  text-align: center;
  border-style: dashed;
  border-color: blueviolet;
}
.line2 {
  color: blueviolet;
  border-style: dotted;
  text-align: center;
  font-size: x-large;
}
.line3 {
  color: blue;
  border-style: dotted;
  text-align: center;
  font-size: x-large;
}
.line4 {
  margin: 30px;
  border: 1px solid black;
  outline: 1px solid red;
  outline-offset: 15px;
}
.line5 {
  color: black;
  text-align: center;
  outline: dotted red;
}
