h1,
p,
h2,
h3,
em u {
  color: red;
  text-align: center;
  font-size: xx-large;
}

body {
  background-color: black;
}
/* above code is example of grouping selectors */
div {
  color: beige;
  border: 3px solid teal;
}
