div {
  height: 200px;
  width: 200px;
  border-radius: 150px;
  border: 10px solid black;
  border-top: 10px solid white;
  position: absolute;
  left: 650px;
  top: 150px;
  animation: spinLoader 1s ease-in 0s infinite normal;
}

@keyframes spinLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
