div {
    background-color: rgba(0, 255, 255, 0.659);
    border: 3px solid black;
    margin: 300px;
    
}

h1 {
    text-transform: uppercase;
    color: rgba(52, 165, 42, 0.668);
}
p {
    text-indent: 50px;
    text-justify: 30px;
   letter-spacing: 3px;
}
a {
    text-decoration: none;
    color: blueviolet;

}