h1 {
    text-transform: capitalize;
    text-align:center;
}
.one {
    text-transform: uppercase;
    text-align: left;
}
.two {
    text-transform: inherit;
    text-align: right;

}
.three {
    text-align:end;
}
.four {
    text-align:unset;
}